
{% extends 'baseClient.html.twig' %}
{% block header %}

{% endblock %}

{% block container %}
    <style>
        table {
            border-width:0px;
            border-color:black;
            width:50%;
        }
        td {
            border-width:px;
            padding: 20px;
            border-color:black;
            width:50%;
            margin: 10px;

        }
    </style>
<div style="align:center">

    <table border="1px" >

        <H2>Liste des Group </H2>
        <tr> <th>Nom</th> <th>Description</th>
        {%for c in list %}
            <tr>

                <td>{{ c.nom}}</td>
                <td>{{ c.description }}</td>

            </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}