{% extends 'baseAdmin.html.twig' %}
{% block content %}
    <style>
        #btn1{
            border:none;
            padding:5px 0 5px 0;
            border-radius:20px;
            background:#4ECDC4;
            font:bold 20px Arial;
            color:black;
            margin:10px 0px;
        }
        .bouton13{
            border-radius:20px;
            display: block;
            text-align: center;
            color: white;
        }
    </style>
    <div  align="center">
        <table  >

            <H2>Liste des Group </H2>
            <tr> <th>Nom</th> <th>Description</th><th>Bloquer</th></tr>
            {%for c in listG %}
                <tr >

                    <td>{{ c.nom()}}</td>
                    <td class="desc">{{ c.description }}</td>

                    <td  id="btn1"><a href="{{ path('Delete',{'id':c.id}) }}" class="bouton13">Bloquer</a></td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock  %}
{% block Style %}
    <style>
        table {
            border-width:0px;
            border-color:black;
            width:50%;
        }
        td {
            border-width:px;
            padding: 20px;
            border-color:black;
            width:50%;
            margin: 10px;

        }
    </style>
{% endblock %}